@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*{
  font-family: 'Noto Sans Lao', sans-serif;
}
html {
  font-size: 10px;
}

body {
  background: rgb(106,97,254);
  background: linear-gradient(90deg, rgba(106,97,254,1) 7%, rgba(139,127,223,1) 47%, rgba(208,156,255,1) 80%);
}

.container {
  padding: 40px 100px;
}
#header {
  text-align: center;
}
h1 {
  font-size: 5rem;
  margin-bottom: 0;
}
h3{
  font-size: 2.8rem;
}
#header p {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 40px;
}

#survey-form {
  background: #fff;
  border-radius: 10px;
  
  max-width: 600px;
  margin: auto auto;
  padding: 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-groups {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 40px;
}

#name ,#email, #number, #dropdown {
  width: 400px;
  height: 40px;
  background: #eee;
  
  border-radius: 10px;
  border-style: none;
  
  padding: 0 10px;
  
  font-size: 1.5rem;
}
#gender input{
  width: 15px;
  height: 15px;
  cursor: pointer;
}
#gender label{
  padding: 10px;
}
#dropdown {
  cursor: pointer;
}
#number {
  width: 150px;
}
#dream-job label{
  line-height: 1.4;
  font-size: 2.2rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}
#dream-job .input-checkbox{
  width: 18px;
  height: 18px;
  
  margin: 0 10px;
  cursor: pointer;
}
#comment {
  height: 120px;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
}

#submit {
  width: 100%;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  background: rgba(53, 227, 114, 0.8);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  
  font-size: 2rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}